@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

/* Accounting bill */
.accounts caption{
	font-variant: small-caps;
}

.list table,
.accounts table{
	margin: 1em auto;
	font-variant-numeric: tabular-nums;
}

.list table tr td,
.accounts table tr td{
	padding: 0 .5em;
	vertical-align: top;
}

.list table td:last-child,
.accounts table td:last-child{
	text-align: right;
	white-space: nowrap;
}

.accounts table tr:last-child td:last-child{
	border-top: 1px solid;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

[epub|type~="z3998:letter"] header{
	font-variant: small-caps;
	text-align: right;
}

#chapter-5-4-1 [epub|type~="z3998:letter"] header{
	text-align: center;
}

p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

blockquote[xml|lang]{
	font-style: italic;
}

blockquote[xml|lang] [epub|type~="noteref"]{
	font-style: normal;
}

/* Gravestone-type inscriptions */
.inscription{
	text-align: center;
	font-variant: small-caps;
}

/* Code crib-sheet */
#chapter-4-1-5 blockquote:nth-of-type(3) table{
	border-collapse: collapse;
}

#chapter-4-1-5 blockquote:nth-of-type(3) table td{
	border: 1px solid;
	padding: 1em;
	vertical-align: top;
}

/* inline image  */
figure{
	margin: 1em auto;
	text-align: center;
	max-width: 500px;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}
